asgiref==3.2.7
astroid==2.3.3
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
cloudmersive-virus-api-client==2.0.6
colorama==0.4.3
crypto==1.4.1
cycler==0.10.0
Django==3.0.5
Flask==1.1.2
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
Naked==0.1.31
numpy==1.18.2
pandas==1.0.3
pyasn1==0.4.8
pycipher==0.5.2
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
rsa==4.0
scikit-learn==0.23.1
scipy==1.4.1
shellescape==3.8.1
six==1.14.0
sklearn==0.0
sqlparse==0.3.1
threadpoolctl==2.1.0
urllib3==1.26.5
Werkzeug==1.0.1
wrapt==1.11.2
