.bg{
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('doctor.jpg')  no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}
.form-container{
    position: absolute;
    top:15vh;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.center{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 550px;

	background: white;
	border-radius: 10px;

}

.login{
	width:100px;
	height:100px;
	border-radius:50%;
	position: absolute;
	top:-65px;
	left:calc(50% - 50px);
}

.center h1{

	text-align: center;
	padding: 0 0 20px 0;
	border-bottom: 1px solid silver;

}

.center form{

	padding: 0 40px;
	box-sizing: border-box;
}

form .txt_field{

		position: relative;
		border-bottom: 2px solid #adadad;
		margin: 30px 0;
}

.txt_field input{
	width:100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}
.txt_field label{
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}
.txt_field span::before{
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: #2691d9;

}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
	top: -5px;
	color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~span::before{
	width: 100%;
}

.pass{
	margin:-5px 0 20px 5px;
	color: black;
	cursor: pointer;
}


.pass .select-selected {
	background-color: DodgerBlue;
  }

  .select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
  }


input[type="submit"]{
 margin: 30px 0;
	width: 40%;
	height: 50px;
	border: 1px solid;
	background: #2691d9;
	border-radius: 10px;
	font-size: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
}

input[type="submit"]:hover{
	border-color: #2691d9;
	transition: .5s;

}

.signup_link{
	margin: 30px 0;
	text-align: center;
	font-size: 16px;
	color: #666666;

}

.signup_link a{
	color: #2691d9;
	text-decoration: none;

}
.signup_link a:hover{
	text-decoration: underline;
}
